.rodape {
    background-color: var(--cor-fundo-secundario);
    height: 10vh;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    border-top: var(--cor-detalhes) solid;
    position: relative;
    bottom: 6.8vh;
}

.rodape__links {
    display: flex;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    column-gap: 4rem;
}

.rodape__aviso {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5remn;
}

@media (max-width: 420px) {
    .rodape {
        height: 50vh;
    }

    .rodape__links, 
    .rodape__aviso {
        font-size: 0.7rem;
    }
}

@media (max-width: 950px) {
    .rodape {
        height: 40vh;
    }

    .rodape__links {
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

}

