#rodape {
    background-color: var(--cor-fundo-secundario);
    height: 15vh;
    width: 100vw;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    border-top: var(--cor-detalhes) solid;
}

.rodape__links-lista {
    column-gap: 2rem;
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 1rem;
}

.rodape__links-lista a {
    font-family: var(--fonte-primaria);
    text-decoration: none;
    color: var(--cor-letra);
}

.rodape__links-lista li>a:hover {
    color: var(--cor-detalhes);
    transition: 0.3s;
}

.rodape__aviso {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    font-family: var(--fonte-primaria);
    font-size: 0.5rem;
}

@media screen and (max-width: 770px) {

    .rodape__links-lista {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 0.6rem;
    }

    .rodape__links-lista a {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 420px) {

    .rodape__aviso {
        text-align: center;
        row-gap: 0.3rem;
    }
}